.title {
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid #c74d38;
    padding: 0.7rem;

    a {
        color: black;
        text-decoration: none;
    }
}

.navbar{
    font-size: 1.2em;
    text-align: center;
    color: #6c757d;
    border-bottom: 1px solid #c74d38;
    padding: 0.5rem;
}
.nav-item{
    padding: 10px;
    text-decoration: none;
    color: #6c757d;

    :visited, :active, :focus {
        text-decoration: none;
        color: #6c757d;
    }
    :hover{
        text-decoration: underline;
    }
}


